* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .hero-header::before {
        z-index: -1;
        width: 100%;
        height: 400px;
        filter: blur(2px);
        background-image: url(../img/header.png);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        content: "";
    }
    .hero-header {
        width: 100%;
        height: 400px;
        background-color: rgba(184, 60, 44, 0.75);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.hero-header>* {
    margin-bottom: 5px;
}

.logo {
    z-index: 2;
    width: 50px;
    height: 50px;
    left: 130px;
    display: block;
}

.social-media {
    width: 20px;
    height: 20px;
    display: inline-flex;
}

.social-media-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.hero-title {
    width: 65%;
    margin: 20px auto;
    text-align: center;
    font-weight: 400;
}

.hero-info {
    display: none;
}

.hero-button {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.store-button {
    width: 135px;
    height: 35px;
    margin-right: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
}

.store-logo {
    width: 20px;
    height: 20px;
}

.get-it-touch {
    width: 100%;
    height: 420px;
    background-color: #c44c3b;
}

.titulo-get-it-touch {
    width: 65px;
    margin: 0 auto;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario {
    width: 90%;
    margin: auto;
    align-self: auto;
}

.entrada {
    width: 100%;
    height: 35px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.entrada.texto {
    height: 70px;
}

.envio {
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 5px;
    border: none;
}

.envio:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width:428px) and (max-width: 768px) {
    .hero-info {
        width: 50%;
        margin: 20px auto;
        text-align: left;
        display: flex;
    }
    .hero-button {
        width: 80%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    .store-button {
        width: 100px;
        height: 35px;
        margin: 0 15px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 3px;
    }
    .titulo-get-it-touch {
        width: 20%;
        margin: 0 auto;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
    .form-container {
        width: 60%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) {
    .hero-header::before {
        z-index: -1;
        width: 100%;
        height: 400px;
        filter: blur(2px);
        background-image: url(../img/paisagem.png);
        background-position: initial;
        background-repeat: no-repeat;
        position: absolute;
        content: "";
    }
    .hero-header {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-header>* {
        margin-bottom: 5px;
    }
    .hero-desk {
        width: 60%;
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }
    .hero-title {
        width: 60%;
        margin: 20px auto 0 auto;
        text-align: center;
        font-weight: bold;
        display: flex;
    }
    .hero-info {
        width: 60%;
        margin: 20px auto;
        text-align: left;
        font-weight: 600;
        display: flex;
    }
    .hero-button {
        width: 60%;
        margin: 15px 16%;
        display: flex;
        flex-direction: row;
    }
    .store-button {
        width: 135px;
        height: 35px;
        margin: 0 15px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 3px;
    }
    .titulo-get-it-touch {
        width: 15%;
        margin: 0 auto;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
    }
    .formulario {
        width: 30%;
        margin: auto;
        align-self: auto;
    }
}