*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.reasons-to-use{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);

}

.reasons-to-use__box{
    text-align: center;
    align-items: center;
    padding: 15px 30px 0 30px;
    margin-bottom: 0;
}
.reasons-to-use__box:last-of-type{
    margin-bottom: 30px;
}

.h2-style{
    font-size: 20px;
    color: darkgray;
}

#reasons-to-use__text{
    text-align: center;
    background-color: #c34c3d;
    color:#FFF;
    font-size: 25px;
    padding: 2em 10px;

}
.reasons-to-use__box > *{
    margin-top: 10px;
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .reasons-to-use__box{
    padding: 15px 100px 0 100px;
    margin-bottom: 0;
    }
    #reasons-to-use__text{
    padding: 2em 0px;

    }
}

@media screen and (min-width: 769px){
    .reasons-to-use{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }
    .reasons-to-use__box{
        width: 25%;
    }
    #reasons-to-use__text{
        width: 100%;
    }

}